@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400&display=swap');
.main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Heading {
    position: absolute;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #FAF3E1;
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 20px;
    filter: blur(0px);
    animation: fadeIn 1.5s ease-in-out;
}
.Heading-visible {
    filter:blur(0);
    opacity: 1;
}
.Heading-hidden {
    filter:blur(20px);
    opacity: 0;
    transition: all 0.3s ease;
}
@keyframes fadeIn {
    from {
        filter: blur(20px);
        opacity: 0;
        transform: translate(-50%, -80%);
    }
    to {
        filter: blur(0px);
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
