:root {
    --bg-primary:     #111111;  /* deep dark purple-black */
    --bg-secondary:   #2b2b2b;  /* slightly lighter */
    --bg-element:     #292929;  /* cards, input boxes */

    --accent-primary: #FF6D1F;  /* bright vivid red-pink */
    --accent-hover:   #ff8b4d;  /* lighter pink on hover */
    --accent-subtle:  #3D0020;  /* dark red for subtle bg highlights */

    --glow:           rgba(255, 45, 85, 0.3);  /* for box shadows */

    --text-primary:   #FAF3E1;  /* pure white pops on dark purple */
    --text-muted:     #9D7EA8;  /* muted purple-grey */

    --border:         #525252;  /* dark purple border */
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: Lato, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}