.loading {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.loadBar-down {
    
    display: flex;
    width: 469px;
    height: 10px;
    background-color: var(--text-primary);
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: textbox 1.5s cubic-bezier(1,-0.11,0,1.09) 5.5s forwards;
}
.loadBar-up {
    width: 10px;
    height: 10px;
    background-color: var(--accent-primary);
    border-radius: 5px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: load 2s cubic-bezier(1,.15,0,.91) 2.5s forwards, send 1.5s cubic-bezier(1,-0.11,0,1.09) 5.5s forwards;
}

@keyframes load {
    from {
        height: 10px;
        width: 10px;
    }
    to {
        height: 10px;
        width: 469px;
    }
}

@keyframes send {
    from {
        transform: translate(0px, 0px);
        border-radius: 5px;
        height: 10px;
        width: 469px;
    }
    to {
        transform: translate(607.5px, 7.5px);
        border-radius: 17.5px;
        height: 35px;
        width: 35px;
    }
}
@keyframes textbox {
    from {
        background-color: var(--text-primary);
        border-radius: 5px;
        height: 10px;
        width: 469px;
        border: 1px solid transparent;
    }
    to {
        background-color: var(--bg-element);
        border-radius: 25px;
        height: 50px;
        width: 650px;
        border: 1px solid var(--border);
    }
}