.msgbox-hidden {
    height: 0px;
    width: 650px;
    border-radius: 25px;
    background-color: wheat;
    position: absolute;
    top:46.7%;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
}
.msgbox-visible {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    height: 43rem;
    width: 850px;
    border-radius: 25px;
    /* background: repeating-linear-gradient(
        -45deg,
        #3E3E3E,
        #3E3E3E 10px,
        rgba(255, 109, 31, 0.5) 10px,
        rgba(255, 109, 31, 0.5) 11px
    ); */
    background-color: var(--bg-secondary);
    position: absolute;
    display: flex;
    flex-direction: column;
    top:46.7%;
    left: 50%;
    transform: translate(-50%,-55%);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 1s cubic-bezier(1,-0.11,0,1.09);
    overflow-y: auto;
    padding-top: 2rem;
    box-sizing: border-box;
}
